/* Reactric box */

div.reactric-box-panel {
    text-align: center;
    background-color: inherit;
}
div.reactric-box-panel * {
    font-family: inherit;
}
div.reactric-box-panel .reactric-reaction-button {
    margin: 0px 20px 15px 20px;
    color: #2C3E50;
    display: inline-block;
}
div.reactric-box-panel .reactric-reaction-button > img {
    width: 100%;
}
div.reactric-box-panel .reactric-reaction-button:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
div.reactric-box-panel .reactric-reaction-button-inactive > img {
    opacity: 0.2;
}
div.reactric-box-panel .reactric-reaction-button-active > img {
    opacity: 1;
}
div.reactric-box-panel [reactric-tooltip]:before {
    visibility: hidden;
}
div.reactric-box-panel a.reactric-link {
    color: #2C3E50;
    text-decoration: none;
}
div.reactric-box-panel a.reactric-link:hover {
    color: #1ABC9C;
}
div.reactric-box-panel img.reactric-logo-img {
    height: 56px;
    width: 56px;
    margin-bottom: 10px;
    margin-left: -15px;
}
div.reactric-box-panel .reactric-logo-svg {
    margin-bottom: -20px;
    margin-right: -10px;
}
