div.reactric-reaction-panel {
    background-color: #ffffff;
    border: 1px solid #DADFE1;
    margin: 25px auto;
    width: 100%;
    max-width: 800px;
    color: #2C3E50;
    text-align: center;
}
table.reactric-table {
    width: 100%;
    background-color: #f9fbfb;
}
table.reactric-table-top {
    margin-bottom: 50px;
    border-bottom: 1px solid #DADFE1;
}
table.reactric-table-bottom {
    border-top: 1px solid #DADFE1;
    margin-top: 50px;
}
table.reactric-table td {
    padding: 10px;
}
table.reactric-table td.td-center {
    text-align: center;
}
table.reactric-table td.td-left {
    text-align: left;
}
table.reactric-table td.td-right {
    text-align: right;
}
table.reactric-table a.reactric-link {
    color: #1ABC9C;
    border-bottom: 1px solid #1ABC9C;
    text-decoration: none;
}
table.reactric-table a.reactric-link:hover {
    color: #19B5FE;
    border-bottom: 1px solid #19B5FE;
}
a.reactric-powered-by-link > img {
    height: 50px;
    width: 138px;
}
div.reactric-reaction-option {
    display: inline-block;
    margin: 10px 25px;
}
div.reactric-reaction-option:hover,
div.reactric-reaction-option:active {
    cursor: pointer;
}
div.reactric-reaction-option-active {
    opacity: 1.0;
}
div.reactric-reaction-option-inactive > p,
div.reactric-reaction-option-inactive > img.reactric-reaction-option-img {
    opacity: 0.3;
}
img.reactric-reaction-option-img {
    width: 60px;
    margin: auto;
    margin-bottom: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
div.reactric-reaction-option:hover > img.reactric-reaction-option-img {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}
p.reactric-loading {
    font-size: 16px;
}
button.reactric-reload-button {
    display: inline-block;
    padding: 10px;
    color: #fff;
    background-color: #1ABC9C;
    border: 0px;
    border-radius: 2px;
}
button.reactric-reload-button:hover,
button.reactric-reload-button:active {
    background-color: #16A085;
    cursor: pointer;
}
